.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr;
}

main {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.nav {
  grid-column: 1;
  grid-row: 1 / span 2;
  background: linear-gradient(
    to right,
    rgb(13, 153, 150, 0.4),
    rgb(13, 153, 150, 0.03)
  );
}

.nav ul {
  margin-top: 30px;
}

.nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #033534;
}

.nav li a:hover {
  color: rgb(13, 153, 150);
}

.home-link {
  font-weight: bold;
}

.students-link {
  font-weight: bold;
  opacity: 0.7;
  pointer-events: none;
  cursor: default;
}

.students {
  margin-left: 30px;
}

nav li {
  margin: 0 0 20px 0;
  list-style: none;
  padding: 0;
}

.home,
.students-link-li {
  margin-bottom: 40px;
}

.assignments {
  margin-top: 40px;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.description {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.bar-chart {
  grid-column: 1;
  grid-row: 2;
}

.banner-right {
  grid-column: 2;
  grid-row: 1 / span 2;
}

#radio-buttons {
  height: 57%;
  margin-top: 30px;
  display: flex;
  flex-flow: column wrap;
  font-size: 12px;
}

#radio-buttons label input {
  border: 0px;
  height: 10px;
}

.legend {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -75px;
}

.title-home,
.title-students {
  flex: 1 1 100%;
  text-align: center;
  font-weight: bold;
}

.wrapper-legend {
  margin: 20px;
  display: flex;
  align-items: center;
}

.blue {
  background-color: #0d9996;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.pink {
  background-color: #ea989a;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.score-difficulty,
.score-funfactor {
  font-size: 14px;
}
